<!--Footer container-->
<footer>
    <div class="footer-logo">
      <img src="../../../assets/images/Norsu_white.png" />
    </div>
    <div class="legal">
      <h2 class="t-u">Términos de uso</h2>
      <h2>Política de privacidad</h2>
    </div>
    <div class="topics">
      <h2>Acerca de Norsu</h2>
    </div>
    <div class="copy">
      <h2>&copy;Movip S.A.S. Todos los derechos reservados</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="contact">
      <h2 class="gmail">contacto@correo.com</h2>
      <h2 class="phone">(1) 2889617</h2>
      <h2 class="web">https://www.movipsas.com</h2>
      <h2 class="location">Carrera 67A N°9A-62 Piso 1, Bogotá</h2>
    </div>
  </footer>
  <!--End footer container-->