/*Customize check code*/
.ctn-codes {
  width: 100%;
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.code {
  width: 7em;
  height: 1.5em;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: 2px solid #293347;
  border-radius: 0.15em;
  color: #293347;
}
.code::placeholder {
  color: #afafaf;
}
/*End customize check code*/

/*Customize number inputs*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*End customize number inputs*/

/*Customize end registration button*/
.ctn_btn-end {
  width: 100%;
  text-align: center;
}
/*End customize end registration button*/