<div id="ctn-create">
    <div id="ctn-create_title">
        <h2>Creación del curso</h2>
    </div>
    <div id="ctn-create_stepper">
        <mat-horizontal-stepper color="primary" [labelPosition]="'bottom'">
            <mat-step label="Generalidades">
              <div id="ctn-gnl">
                <div id="ctn-gnl_sub">
                    <h3>Nombre del curso:</h3>
                    <div id="ctn-gnl_sub_input">
                        <input type="text" [(ngModel)]="generalities.name">
                    </div>
                    <h3>Visibilidad:</h3>
                    <div id="ctn-gnl_sub_select-vs">
                        <select [(ngModel)]="generalities.visibility">
                            <option selected disabled>Seleccione la visibilidad</option>
                            <option value="publico">Público</option>
                            <option value="privado">Privado</option>
                        </select>
                    </div>
                    <h3>Categoría: </h3>
                    <div id="ctn-gnl_sub_select-cat">
                        <select [(ngModel)]="generalities.idCategory">
                            <option selected disabled>Seleccione una categoría</option>
                            <option *ngFor="let category of categories; let i = index"
                              [value]="categories[i].id">
                              {{categories[i].name}}
                            </option>
                        </select>
                    </div>
                    <h3>Imagen de portada:</h3>
                    <div id="ctn-gnl_sub_image">
                        <div id="ctn-gnl_sub_image_content">
                            <img id="image" [src]="imgURL" *ngIf="imgURL">
                        </div>
                        <span style="color: red;" *ngIf="message">{{message}}</span>
                        <label id="btn-image-upload" for="image-upload">
                            <mat-icon>file_upload</mat-icon>
                        </label>
                        <input id="image-upload" #file type="file" accept="image/*" (change)="preview($event)">
                    </div>
                    <div id="ctn-gnl_sub_buttons">
                        <div id="ctn-gnl_sub_buttons-cancel">
                            <button routerLink="/administrador/gestionar-cursos">Cancelar</button>
                        </div>
                        <div id="ctn-gnl_sub_buttons-next">
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </div>
                </div>
            </div>
            </mat-step>
            <mat-step label="Bienvenida">
              <div id="ctn-gnl">
                <div id="ctn-gnl_sub">
                    <div id="ctn-gnl_subtitle">
                        <h3>Añadir bienvenida al curso</h3>
                    </div>
                    <div id="ctn-gnl_ctn-welcome">
                        <textarea [(ngModel)]="generalities.greeting"></textarea>
                    </div>
                    <div class="ctn-spinner" *ngIf="stateSpinner">
                      <p-progressSpinner
                        id="spinner"
                        styleClass="custom-spinner"
                        strokeWidth="4"
                        [style]="styleSpinner"
                        animationDuration=".6s">
                      </p-progressSpinner>
                    </div>
                    <div id="ctn-gnl_sub">
                        <div id="ctn-gnl_sub_buttons-cancel">
                            <button mat-button routerLink="/administrador/gestionar-cursos">Cancelar</button>
                        </div>
                        <div id="ctn-gnl_sub_buttons-next">
                            <button mat-button (click)="createCourse()">Finalizar</button>
                        </div>
                    </div>
                </div>
            </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
    <router-outlet></router-outlet>
</div>
