/*Customize title*/
.ctn-title{
    width: 100%;
    height: 4em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 3em;
}
.ctn-title__title{
    font-size: 1.8em;
    font-weight: 500;
    margin: 0;
}
/*End customize title*/