.ctn-btns{
  width: 100%;
}
.gp-pf{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2em;
}
.btn-toggle{
  width: 90%;
  height: 12em;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: .5em;
  margin: 0 5%;
  margin-top: 2.2em;
}
.btn-toggle h3{
  font-size: 1.5em;
  width: 95%;
}
