<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [mode]="'side'"
    [opened]="visibility"
  >
    <mat-toolbar class="toolbar">
      <img class="logo" src="../../../assets/images/Title.png" />
    </mat-toolbar>
    <mat-nav-list>
      <mat-divider class="divider"></mat-divider>
      <div class="ctn-admin">
        <h2 class="title-adm">Administrador</h2>
      </div>
      <div class="ctn-icon">
        <mat-icon
          class="icons"
          routerLink="/administrador/gestionar-cursos"
          routerLinkActive="active"
          >auto_stories
        </mat-icon>
        <h2
          class="title-opt"
          routerLink="/administrador/gestionar-cursos"
          routerLinkActive="active"
        >
          Cursos
        </h2>
      </div>
      <div class="ctn-icon">
        <mat-icon class="icons" routerLinkActive="active">domain </mat-icon>
        <h2 class="title-opt">Empresas</h2>
      </div>
      <div class="ctn-icon">
        <mat-icon
          class="icons"
          routerLink="/administrador/crear-curso"
          routerLinkActive="active"
          >add_circle_outline
        </mat-icon>
        <h2
          class="title-opt"
          routerLink="/administrador/crear-curso"
          routerLinkActive="active"
        >
          Crear curso
        </h2>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
    <div class="close">
      <mat-icon class="nav-icon" *ngIf="close" (click)="closeSideNav()">close</mat-icon>
      <mat-icon class="nav-icon" *ngIf="menu" (click)="openSideNav()">menu</mat-icon>
    </div>
    <router-outlet class="router"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
