<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!--Sidenav small-->
    <nav class="side-nav-small">
      <div class="ctn-icons-sidenav-small">
        <mat-icon
          class="icon-sidenav-small"
          routerLink="/administrador/gestionar-cursos"
          routerLinkActive="isActiveSmall"
          >play_lesson</mat-icon
        >
      </div>
      <div class="ctn-icons-sidenav-small">
        <mat-icon
          class="icon-sidenav-small"
          routerLink="/administrador/gestionar-empresas"
          routerLinkActive="isActiveSmall"
          >business</mat-icon
        >
      </div>
      <div class="ctn-icons-sidenav-small">
        <mat-icon
          class="icon-sidenav-small"
          routerLink="/administrador/gestionar-administradores"
          routerLinkActive="isActiveSmall"
          >groups</mat-icon
        >
      </div>
      <div class="ctn-log-out">
        <mat-icon class="icon-log-out" routerLink="">logout</mat-icon>
      </div>
    </nav>
    <!--End sidenav small-->
    <!--Main content-->
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <!--End main Content-->
    <!--Sidenav app-->
    <nav class="side-nav-app">
      <div
        class="ctn-option-sidenav-app"
        *ngFor="let option of options"
        [routerLink]="option.route"
        routerLinkActive="isActiveApp"
      >
        <mat-icon class="icon-option-sidenav-app">{{ option.icon }}</mat-icon>
        <h2 class="title-option-sidenav-app">{{ option.title }}</h2>
      </div>
      <div class="ctn-option-sidenav-app" routerLink="">
        <mat-icon class="icon-option-sidenav-app">logout</mat-icon>
        <h2 class="title-option-sidenav-app">Salir</h2>
      </div>
    </nav>
    <!--End sidenav app-->
  </body>
</html>
