#ctn-ops{
  width: 100%;
  height: 7em;
}#ctn-ops_sub1,
#ctn-ops_sub2,
#ctn-ops_sub3{
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

/*Customize new course button*/
#ctn-ops_sub1{
  width: 25%;
  height: 100%;
}
/*END*/

/*Customize seeker*/
#ctn-ops_sub2{
  width: 50%;
  height: 100%;
}
#ctn-ops_sub2_seeker{
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 70%;
  height: 45%;
  border-radius: 1.6em;
  border: 2px solid #293347;
  padding: 0;
}
#ctn-ops_sub2_seeker mat-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
  width: 13%;
  height: 100%;
  color: #293347;
  padding-top: .07em;
}
#ctn-ops_sub2_seeker input{
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.1em;
  font-weight: 500;
  color: #293347;
}
/*End*/

/*Customize filter*/
#ctn-ops_sub3{
  width: 25%;
  height: 100%
}
#ctn-ops_sub3 select{
  width: 60%;
  height: 45%;
  border: 2px solid #293347;
  border-radius: .5em;
  text-align: center;
  cursor: pointer;
  color: #293347;
}
/*End*/
h2{
  color: #293347;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 2em;
  margin-left: 3em;
}
