<div class="main-ctn" onselectstart="return false">
  <!--Filters-->
  <div class="main-ctn__filters">
    <!--Text filter-->
    <div class="main-ctn__filters__input">
      <div class="main-ctn__filters__input__filter">
        <mat-icon class="icon-search">search</mat-icon>
        <input
          type="text"
          class="filter"
          (input)="enableDeleteBtnInput()"
          [(ngModel)]="inputFilter"
        />
        <mat-icon
          class="icon-clear"
          [style.visibility]="visibilityIconClr"
          (click)="clearInput()"
          >clear</mat-icon
        >
      </div>
    </div>
    <!--End text filter-->
    <!--Select filter-->
    <div class="main-ctn__filters__select">
      <p-dropdown
        class="filter-select"
        [style]="stylesSelectFilter"
        [options]="filter"
        [(ngModel)]="selectedFilter"
        optionLabel="name"
      ></p-dropdown>
    </div>
    <!--End select filter-->
  </div>
  <!--End filters-->
  <!--Create course-->
  <div class="main-ctn__new-course">
    <button class="new-course" routerLink="/administrador/crear-curso/generalidades">
      <mat-icon class="icon-add">add_circle</mat-icon>
      Crear curso
    </button>
  </div>
  <!--End create course-->
  <h2 class="main-ctn__title">Cursos ({{selectedFilter.name}})</h2>
  <app-show-courses></app-show-courses>
</div>