<div class="main-ctn">
  <div class="ctn-filters">
    <div class="ctn-filter-input">
      <div class="ctn-filter">
        <mat-icon class="icon-search">search</mat-icon>
        <input
          type="text"
          class="filter"
          (input)="enableDeleteBtnInput()"
          #inputFilter
        />
        <mat-icon
          class="icon-clear"
          [style.visibility]="visibilityIconClr"
          (click)="clearInput()"
          >clear</mat-icon
        >
      </div>
    </div>
    <div class="ctn-filter-select">
      <p-dropdown
        class="filter-select"
        [style]="stylesSelectFilter"
        [options]="filter"
        [(ngModel)]="selectedFilter"
        optionLabel="name"
      ></p-dropdown>
    </div>
  </div>
  <h2 class="title-cs">Cursos</h2>
  <app-show-courses></app-show-courses>
</div>
