*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Customize new course*/
.main-ctn__new-course,
.new-course {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-ctn__new-course {
  width: 100%;
  height: 5em;
  margin-top: 2em;
}
.new-course {
  width: 8.5em;
  height: 2.5em;
  border-radius: 0.5em;
  border: 2px solid transparent;
  font-weight: bold;
  background-color: #293347;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out all;
}
.new-course:hover {
  border: 2px solid #293347;
  color: #293347;
  background-color: rgb(255, 255, 255);
}
.icon-add {
  margin-right: 0.3em;
}
/*End customize new course*/

/*Customize filters container*/
.main-ctn__filters {
  width: 100%;
  height: 3em;
  display: flex;
}
/*End customize filters container*/

/*Customize input filter*/
.main-ctn__filters__input {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-left: 20%;
}
.main-ctn__filters__input__filter {
  width: 300px;
  height: 2em;
  margin: 0;
  padding: 0;
  display: flex;
  border: 2px solid #293347;
  border-radius: 1em;
}
.icon-search {
  width: 1.5em;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em 0 0 1em;
  color: #293347;
  background-color: transparent;
  cursor: pointer;
}
.filter {
  width: calc(100% - 3em);
  height: 100%;
  margin: 0;
  padding-left: 0.5em;
  border: none;
  outline: none;
  color: #293347;
}
.icon-clear {
  width: 1.5em;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 1em 1em 0;
  color: #293347;
  cursor: pointer;
}
/*End customize input filter*/

/*Customize select filter*/
.main-ctn__filters__select {
  display: flex;
  width: 20%;
  height: 100%;
  align-items: flex-end;
  justify-content: left;
}
/*End customize select filter*/

.main-ctn__title {
  color: #293347;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 1em;
  margin-left: 7%;
}

/*Responsive 900px of width*/
@media (max-width: 900px) {
  .main-ctn__filters__input {
    width: 70%;
  }
  .main-ctn__filters__select {
    width: 30%;
    justify-content: center;
  }
}

/*Responsive 750px of width*/
@media (max-width: 750px) {
  .main-ctn__title {
    margin-left: 0;
    text-align: center;
  }
}

/*Responsive 688px of width*/
@media (max-width: 688px) {
  .main-ctn__filters__input {
    padding-left: 0;
  }
  .main-ctn__filters__select {
    justify-content: left;
  }
}

/*Responsive 630px of width*/
@media (max-width: 630px) {
  .main-ctn__filters {
    height: 6em;
    display: block;
  }
  .main-ctn__filters__input {
    width: 100%;
    height: 3em;
  }
  .main-ctn__filters__select {
    width: 100%;
    height: 3em;
    justify-content: center;
  }
}

/*Responsive 420px of width*/
@media (max-width: 420px) {
  .icon-up {
    display: flex;
  }
}

/*Responsive 662px of height*/
@media (max-height: 662px) {
  .main-ctn__new-course,
  .new-course {
    display: flex;
  }
}