.title {
  width: 100%;
  text-align: center;
  font-size: 1.8em;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 2em;
  text-transform: capitalize;
  color: #afafaf;
}

/*Subtitle*/
.message {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 1.3em;
  text-align: center;
}
/*Subtitle*/

/*Responsive 630px of width*/
@media (max-width: 630px) {
  .message {
    width: 80%;
  }
}

/*Responsive 560px of width*/
@media (max-width: 560px) {
  .message {
    width: 90%;
  }
}

/*Responsive 480px of width*/
@media (max-width: 480px) {
  .message {
    width: 70%;
  }
}

/*Responsive 380px of width*/
@media (max-width: 380px) {
  .message {
    width: 80%;
  }
}

/*Responsive 320px of width*/
@media (max-width: 320px) {
  .message {
    width: 90%;
  }
}

