<h1 class="title" onselectstart="return false">Cursos</h1>
<div class="ctn-accordion" onselectstart="return false">
  <mat-accordion [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><h2>En proceso</h2></mat-panel-title>
      </mat-expansion-panel-header>
      No tienes cursos en proceso
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title><h2>Otros disponibles</h2></mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ctn-gnl-skts" *ngIf="stateSkl">
        <div class="ctn-gnl-skts_confg" *ngFor="let skl of skls">
          <p-skeleton width="100%" height="12em"></p-skeleton>
          <p></p>
          <p-skeleton width="100%" height="1rem"></p-skeleton>
          <p class="skl-p-two"></p>
          <p-skeleton width="100%" height="1rem"></p-skeleton>
        </div>
      </div>
      <div class="ctn-gnl-cs">
        <div class="ctn-gnl-cs_course" *ngFor="let course of courses; let i = index">
          <img src="data:image/png;base64,{{courses[i].coverPage}}">
          <h3>{{courses[i].name}}</h3>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
