.ctn-accordion{
  width: 95%;
  height: auto;
  margin: 2em auto;
}
.ctn-gnl-cs{
  width: 100%;
  height: auto;
  padding: 0 7%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}
.ctn-gnl-cs_course{
  height: 16em;
  text-align: center;
  margin-bottom: 2em;
}
.ctn-gnl-cs_course img{
  width: 100%;
  height: 12em;
  cursor: pointer;
}
.ctn-gnl-cs_course h3{
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #293347;
  text-transform: uppercase;
}

/*Customize skeleton*/
.ctn-gnl-skts{
  width: 100%;
  height: auto;
  padding: 0 7%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5% 2%;
  margin-bottom: 2em;
}
.ctn-gnl-skts_confg{
  height: 16em;
  text-align: center;
  margin-bottom: 2em;
}
.ctn-gnl-skts_confg p{
  width: 100%;
  height: .3em;
}
.skl-p-two{
  width: 100%;
  height: .3em;
  margin: 0;
}
/*End customize skeleton*/

/*Responsive 1090px of width*/
@media(max-width: 1090px){
  .ctn-gnl-skts{
    padding: 0;
  }
}

/*Responsive 950px of width*/
@media(max-width: 950px){
  .ctn-gnl-skts{
    grid-template-columns: repeat(2, 1.5fr);
    gap: 5%;
    padding-bottom: 5em;
  }
}

/*Responsive 750px of width*/
@media(max-width: 750px){
  .ctn-gnl-skts{
    grid-template-columns: repeat(2, 1fr);
  }
}

/*Responsive 600px of width*/
@media(max-width: 600px){
  .ctn-gnl-skts{
    grid-template-columns: 21em;
    row-gap: 2.5%;
    padding: 0;
    padding-bottom: 13em;
    justify-content: center;
  }
}

/*Responsive 460px of width*/
@media(max-width: 460px){
  .ctn-gnl-skts{
    grid-template-columns: 1fr;
    padding-bottom: 15em;
  }
}
