<div class="ctn-accordion">
  <mat-accordion [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><h2>Cursos en proceso</h2></mat-panel-title>
      </mat-expansion-panel-header>
      No tienes cursos en proceso
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title><h2>Otros cursos disponibles</h2></mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ctn-gnl-cs">
        <div class="ctn-gnl-cs_course" *ngFor="let course of courses; let i = index">
          <img src="data:image/png;base64,{{courses[i].coverPage}}">
          <h3>{{courses[i].name}}</h3>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
