<div id="ctn-gnl">
    <div id="ctn-gnl_sub">
        <div id="ctn-gnl_subtitle">
            <h3>Añadir bienvenida al curso</h3>
        </div>
        <div id="ctn-gnl_ctn-welcome">
            <textarea></textarea>
        </div>
        <div id="ctn-gnl_sub">
            <div id="ctn-gnl_sub_buttons-cancel">
                <button mat-button routerLink="/administrador/gestionar-cursos">Cancelar</button>
            </div>
            <div id="ctn-gnl_sub_buttons-next">
                <button mat-button routerLink="/administrador/gestionar-curso">Finalizar</button>
            </div>
        </div>
    </div>
</div>