<div class="ctn-gnl-skts" *ngIf="stateSkl">
  <div class="ctn-gnl-skts_confg" *ngFor="let skl of skls">
    <p-skeleton width="100%" height="12em"></p-skeleton>
    <p></p>
    <p-skeleton width="100%" height="1rem"></p-skeleton>
    <p class="skl-p-two"></p>
    <p-skeleton width="100%" height="1rem"></p-skeleton>
  </div>
</div>
<div class="ctn-gnl-cs">
  <div class="ctn-gnl-cs_course" *ngFor="let course of courses; let i = index">
    <div class="ctn-gnl-cs_course_ctn-c"
      style="background-image: url('data:image/png;base64,{{courses[i].coverPage}}')">
      <label id="btn-edit" [routerLink]="['/administrador/gestionar-curso/', courses[i].name]">Editar</label>
    </div>
    <h3>{{courses[i].name}}</h3>
  </div>
</div>
