.ctn-gnl-cs{
  width: 100%;
  height: auto;
  padding: 0 7%;
  display: flex;
  flex-wrap: wrap;
}
.ctn-gnl-cs_course{
  width: 40%;
  height: 16em;
  margin: 0 2%;
  text-align: center;
}
.ctn-gnl-cs_course img{
  width: 100%;
  height: 12em;
}
.ctn-gnl-cs_course h3{
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #293347;
  text-transform: uppercase;
}
