.ctn-gnl-cs {
  width: 100%;
  height: auto;
  padding: 0 7%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}
.ctn-gnl-cs_course {
  height: 16em;
  text-align: center;
  margin-bottom: 2em;
}
.ctn-gnl-cs_course_ctn-c {
  width: 100%;
  height: 12em;
  -moz-background-size: 100% 100%; /*Firefox 3.6*/
  -o-background-size: 100% 100%; /*opera*/
  -webkit-background-size: 100% 100%; /*Safari*/
  background-size: 100% 100%; /*estandar css3*/
}
.ctn-gnl-cs_course h3 {
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #293347;
  text-transform: uppercase;
}

#btn-edit {
  background-color: transparent;
  color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}
#btn-edit:hover {
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  background-color: rgb(167, 167, 167);
  opacity: .7;
}

/*Customize skeleton*/
.ctn-gnl-skts{
  width: 100%;
  height: auto;
  padding: 0 7%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  margin-bottom: 2em;
}
.ctn-gnl-skts_confg{
  height: 16em;
  text-align: center;
  margin-bottom: 2em;
}
.ctn-gnl-skts_confg p{
  width: 100%;
  height: .3em;
}
.skl-p-two{
  width: 100%;
  height: .3em;
  margin: 0;
}
/**/
