<!--Login Form-->
<div id="form-login">
    <div id="void">&nbsp;</div>
    <div id="ctn-default">
    <div id="ctn-lg-email">
        <label class="lb-login">Correo:</label>
        <form class="login-email">
        <mat-form-field class="full-width" appearance="fill">
            <input id="eml" matInput>
        </mat-form-field>
        </form>
    </div>
    <div id="ctn-lg-password">
        <label class="lb-login">Contraseña:</label>
        <form class="login-password">
        <mat-form-field class="full-width" appearance="fill">
            <input id="passw" matInput>
        </mat-form-field>
        </form>
    </div>
    <div id="ctn-lg-question">
        <a>¿Olvidaste tu contraseña?</a>
    </div>
    <div id="ctn-lg-btn-login">
        <button mat-raised-button color="primary">Ingresar</button>
    </div>
    <div id="ctn-lg-other">
        <label>¿No tienes cuenta?</label>
        <a>Registrate.</a>
    </div>
    </div>
</div>
<!--Login Form-->