/*Beginning
Login form customization*/
#form-login{
    background-color: #293347;
    width: 30%;
    height: 88.6vh;
    float: left;
}
#void{
    width: 100%;
    height: 20%;
}
#ctn-default{
    width: 100%;
    height: auto;
}
#ctn-lg-email,
#ctn-lg-password,
#ctn-lg-question,
#ctn-lg-other{
    width: 100%;
    margin-top: 1em;
}
.login-email,
.login-password{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: .5em;
}
.lb-login{
    color: #fff;
    margin-left: 1.1em;
    font-weight: 700;
    font-size: 20px;
}
#eml,
#passw{
    width: 90%;
    height: 3.2em;
    background-color: #fff;
    color: #293347;
    font-size: 1em;
    border-radius: .2em;
    border: none;
    outline: none;
    text-align: center;
}
#ctn-lg-question,
#ctn-lg-btn-login,
#ctn-lg-other{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
#ctn-lg-question{
    color: rgb(35, 149, 216);
    cursor: pointer;
}
#ctn-lg-btn-login{
    width: 100%;
    margin-top: 1em;
}
#ctn-lg-btn-login button{
    width: 90%;
    height: 2.5em;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    transition: .3s ease all;
    background-color: rgb(35, 149, 216);
}
#ctn-lg-btn-login button span{
  position: relative;
  z-index: 2;
  transition: .3s ease all;
  color: #fff;
}
#ctn-lg-btn-login button::after{
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(65, 170, 231);
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(-100% - 2.5em);
  transition: .6s ease-in-out all;
}
#ctn-lg-btn-login button:hover::after{
  left: 0;
}
#ctn-lg-other a{
    color: rgb(35, 149, 216);
    margin-left: 1em;
    font-weight: 500;
    cursor: pointer;
}
/*End*/
