*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  display: flex;
  position: relative;
  min-height: 100vh;
}

/*Customize main content*/
.content {
  background-color: rgb(255, 255, 255);
  width: calc(100% - 5em);
  height: 100%;
}
/*End customize main content*/

/*Customize SideNav small*/
.side-nav-small {
  background-color: #293347;
  color: rgb(255, 255, 255);
  height: 100%;
  width: 5em;
  padding-top: 1em;
  position: sticky;
  top: 0;
  left: 0;
}
.ctn-profile {
  width: 100%;
  height: 4em;
  margin-bottom: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.profile {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  cursor: pointer;
}
.ctn-icons-sidenav-small {
  width: 100%;
  height: 2em;
  margin-bottom: 2.5em;
  display: flex;
  justify-content: center;
}
.icon-sidenav-small {
  font-size: 24px;
  margin: 0;
  margin-bottom: 1.5em;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #293347;
  transition: 0.2s ease-in-out all;
}
.text-hover1,
.text-hover2 {
  font-size: 0.8em;
  background-color: rgb(30, 160, 149);
  height: 2em;
  padding: 0 0.5em;
  border: none;
  border-radius: 0 0.6em 0 0.6em;
  position: absolute;
  animation: moving 2s infinite alternate-reverse;
  visibility: hidden;
}
@keyframes moving {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.3em);
  }
  0% {
    transform: translateX(0);
  }
}
.text-hover1 {
  right: -3em;
  top: 9.62em;
}
.text-hover2 {
  right: -4.3em;
  top: 14.62em;
}
#book-icon:hover ~ .text-hover1 {
  visibility: visible;
}
#certificates-icon:hover ~ .text-hover2 {
  visibility: visible;
}
.isActiveSmall {
  color: #293347;
  background-color: #fff;
  margin-left: 20%;
  padding-left: 0.5em;
  width: 80%;
  height: 100%;
  border: none;
  border-radius: 0.6em 0 0 0.6em;
}
.ctn-log-out {
  width: 100%;
  height: 2em;
  display: flex;
  position: absolute;
  bottom: 0;
  margin-bottom: 2em;
  color: rgb(255, 255, 255);
}
.icon-log-out {
  margin: 0 auto;
  font-size: 24px;
}
/*End customize SideNav small*/

/*Customize SideNav app*/
.side-nav-app {
  width: 100%;
  height: 4em;
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 99;
  padding: 0;
  background-color: rgb(255, 255, 255);
  color: #293347;
}
.ctn-option-sidenav-app {
  width: 25%;
  height: 100%;
  display: grid;
  float: left;
}
.ctn-icon-option {
  height: 100%;
  padding-top: 0.4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ctn-title-option {
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-option-sidenav-app {
  margin: 0;
  padding: 0;
  font-size: 0.7em;
}
.isActiveApp {
  color: rgb(30, 160, 149);
}
/*End customize SideNav app*/

/*Responsive 420px of width*/
@media (max-width: 420px) {
  .side-nav-small {
    display: none;
  }
  .side-nav-app {
    display: block;
  }
  .content {
    width: 100%;
    padding: 0;
    position: relative;
    overflow-y: scroll;
  }
}
