<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <!--ToolBar-->
  <div id="toolbar" *ngIf="state">
    <mat-toolbar>
      <div id="logo">
        <img id="Norsu" src="../assets/images/Norsu.png" alt="Norsu" routerLink="">
      </div>
      <div id="routes">
        <h2 id="home">Inicio</h2>
        <h2 id="about-us">Conócenos</h2>
      </div>
      <div id="register">
        <button pButton type="button" routerLink="/registro">
          <span>Registrarme</span>
          <!--<svg>
            <rect x="0" y="0" fill="none"></rect>
          </svg>-->
        </button>
      </div>
      <div id="nbsp">&nbsp;</div>
    </mat-toolbar>
  </div>
  <!--ToolBar-->
    <router-outlet></router-outlet>

</body>
</html>
