<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <!--ToolBar-->
  <div id="toolbar" *ngIf="state">
    <mat-toolbar>
      <div id="logo">
        <img id="Norsu" src="../assets/images/Norsu.png" alt="Norsu" routerLink="">
      </div>
      <div id="routes">
        <label id="home">Inicio</label>
        <label id="about-us">Conócenos</label>
      </div>
      <div id="register">
        <button pButton type="button" label="Registrarme" routerLink="/registro"></button>
      </div>
    </mat-toolbar>
  </div>
  <!--ToolBar-->
    <router-outlet></router-outlet>

</body>
</html>