<div class="ctn-generalities">
  <div class="ctn-generalities__card">
    <mat-icon class="icon-wlcm">article</mat-icon>
    <h2 class="title-wlcm">Agregar texto</h2>
  </div>
  <div class="ctn-generalities__card">
    <mat-icon class="icon-wlcm">image</mat-icon>
    <h2 class="title-wlcm">Agregar imagen</h2>
  </div>
  <div class="ctn-generalities__card">
    <mat-icon class="icon-wlcm">smart_display</mat-icon>
    <h2 class="title-wlcm">Agregar video</h2>
  </div>
</div>
<div class="ctn-spinner" *ngIf="stateSpinner">
  <p-progressSpinner
    id="spinner"
    styleClass="custom-spinner"
    strokeWidth="4"
    [style]="styleSpinner"
    animationDuration=".6s">
  </p-progressSpinner>
</div>
<div class="ctn-btns">
  <div class="ctn-btns__cancel">
    <button class="btn-cancel" (click)="prevPage()">
      Regresar
    </button>
  </div>
  <div class="ctn-btns__next">
    <button class="btn-next">Siguiente</button>
  </div>
</div>