
.sub-title{
  text-align: center;
  margin-top: 3em;
}
.ctn-gnl{
  width: 100%;
  padding-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ctn-gnl__btn-opt{
  width: 8em;
  height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .4em;
  border: 2px solid transparent;
  color: rgb(255, 255, 255);
  background-color: rgb(24, 195, 187);
}
.ctn-gnl__btn-opt:hover{
  border: 2px solid rgb(24, 195, 187);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.ctn-gnl__btn-opt:hover .icon-wlcm,
.ctn-gnl__btn-opt:hover .title-wlcm{
  color: rgb(24, 195, 187);
}
.icon-wlcm{
  width: auto;
  height: auto;
  font-size: 2em;
  margin-right: .2em;
}
.title-wlcm{
  margin: 0;
  font-weight: 500;
}

/*Customize Buttons generalities*/
.ctn-btns {
  width: 40em;
  height: 6em;
  display: flex;
  margin: 0 auto;
}
.ctn-btns__cancel,
.ctn-btns__next {
  width: 50%;
  height: 3em;
  display: flex;
}
.ctn-btns__cancel {
  justify-content: left;
}
.ctn-btns__next {
  justify-content: right;
}
.btn-cancel,
.btn-next {
  width: 10em;
  height: 100%;
  border: none;
  padding: 0;
  font-weight: 500;
  border-radius: 0.3em;
  color: rgb(255, 255, 255);
}
.btn-cancel {
  background-color: rgb(214, 42, 76);
}
.btn-next {
  background-color: rgb(18, 139, 209);
}
/*End customize Buttons generalities*/