
/*Customize welcome title*/
.sub-title{
  text-align: center;
  margin-top: 3em;
}
/*End customize welcome title*/

/*Welcome option buttons customization*/
.ctn-gnl{
  width: 100%;
  padding-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ctn-gnl__btn-opt{
  width: 8em;
  height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .4em;
  border: 2px solid transparent;
  color: rgb(255, 255, 255);
  background-color: rgb(24, 195, 187);
}
.ctn-gnl__btn-opt:hover{
  border: 2px solid rgb(24, 195, 187);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.ctn-gnl__btn-opt:hover .icon-wlcm,
.ctn-gnl__btn-opt:hover .title-wlcm{
  color: rgb(24, 195, 187);
}
.icon-wlcm{
  width: auto;
  height: auto;
  font-size: 2em;
  margin-right: .2em;
}
.title-wlcm-small{
  display: none;
  margin: 0;
  font-weight: 500;
}
.title-wlcm{
  margin: 0;
  font-weight: 500;
}
/*End welcome option buttons customization*/

/*Customize Buttons generalities*/
.ctn-btns {
  width: 40em;
  height: 6em;
  display: flex;
  margin: 0 auto;
}
.ctn-btns__cancel,
.ctn-btns__next {
  width: 50%;
  height: 3em;
  display: flex;
}
.ctn-btns__cancel {
  justify-content: left;
}
.ctn-btns__next {
  justify-content: right;
}
.btn-cancel,
.btn-next {
  width: 10em;
  height: 100%;
  border: none;
  padding: 0;
  font-weight: 500;
  border-radius: 0.3em;
  color: rgb(255, 255, 255);
}
.btn-cancel {
  background-color: rgb(214, 42, 76);
}
.btn-next {
  background-color: rgb(18, 139, 209);
}
/*End customize Buttons generalities*/

/*Responsive 749px of width*/
@media (max-width: 749px) {
  .ctn-btns {
    width: 30em;
  }
}

/*Responsive 589px of width*/
@media (max-width: 589px) {
  .ctn-btns {
    width: 21em;
  }
}

/*Responsive 536px of width*/
@media (max-width: 536px) {
  /*Customize welcome title*/
  .sub-title{
    display: none;
  }
  /*End customize welcome title*/

  /*Welcome option buttons customization*/
  .ctn-gnl{
    display: grid;
    row-gap: 1em;
    margin-top: 4em;
  }
  .title-wlcm-small{
    display: inline-block;
  }
  .ctn-gnl__btn-opt{
    margin: 0 !important;
    width: 15em;
  }
  /*End welcome option buttons customization*/
}

/*Responsive 420px of width*/
@media (max-width: 420px) {
  .ctn-btns {
    width: 22em;
    height: 10em;
  }
}

/*Responsive 360px of width*/
@media (max-width: 360px) {
  .ctn-btns {
    width: 20em;
  }
  .btn-cancel,
  .btn-next {
    width: 8em;
  }
}

/*Responsive 330px of width*/
@media (max-width: 330px) {
  .ctn-btns {
    width: 18em;
  }
}