<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--ToolBar-->
    <div id="toolbar">
        <mat-toolbar>
            <div id="ctn-h1">
                <h1>Verificación</h1>
            </div>
            <div id="logo">
                <img id="Norsu" src="../assets/images/Norsu.png" alt="Norsu" routerLink="">
            </div>
        </mat-toolbar>
    </div>
    <!--ToolBar-->
    <div id="message">
        <h2>Para finalizar el registro, por favor ingresa el código que enviamos a tu correo</h2>
    </div>
    <app-code></app-code>
    <!--Next button-->
    <div id="ctn_btn-end">
        <button pButton type="button" routerLink="/verificacion" [disabled]="stateBtb">
            <a>Finalizar Registro</a>
        </button>
    </div>
    <!--Next button-->
</body>
</html>