#ctn-description{
    width:100%;
    text-align: center;
    float: left;
    margin-top: 3em;
    padding-bottom: 3em;
    background: #fff;
}
#subtitle{
    font-size: 2em;
}
#description{
    width: 60%;
    margin: 0 auto;
    text-align: justify;
}