<div id="ctn-description">
    <h2 id="subtitle">¿Qué es Norsu?</h2>
    <p id="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Iusto maiores odio facilis, obcaecati odit, unde facere 
        cum ratione dolor temporibus minima corporis nulla provident 
        eligendi sint voluptatum ut est? Fuga quas ipsam magnam officia, 
        repellendus at eligendi modi doloribus non facilis laudantium 
        similique voluptatum sapiente! Unde fugit commodi nobis corporis 
        voluptates esse totam mollitia rem temporibus velit non, et odio? 
        Itaque nesciunt, quibusdam aliquid culpa illo corporis magni rem 
        excepturi optio eos, et hic sint, illum aut deserunt quis dicta? 
        Molestiae temporibus dolorum fugit eaque excepturi ut qui rem 
        voluptatem laborum natus. Accusantium, amet nesciunt perferendis 
        impedit nulla ipsam accusamus! 
    </p>
</div>