* {
  color: #293347;
  margin: 0;
  padding: 0;
}

/*Customize general container*/
.ctn-gnl {
  background-color: #fff;
  height: 95%;
  width: 100%;
}
/*End customize general container*/

.ctn-logo {
  display: none;
}

/*Customize container btn log-in*/
.ctn-btns {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.log-in {
  background-color: transparent;
  color: #293347;
  border: 2px solid transparent;
  width: 10em;
  height: 80%;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 0.5em;
}
.btn-cu {
  background-color: rgb(7, 160, 180);
  color: #fff;
  border: 2px solid transparent;
  width: 10em;
  height: 80%;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 2em;
  border-radius: 2em;
  box-shadow: 0 0 0.3em #bbbbbb;
  transition: 0.3s ease-in-out;
}
.btn-cu:hover {
  color: rgb(7, 160, 180);
  background-color: transparent;
  border: 2px solid rgb(7, 160, 180);
  font-weight: bold;
}
/*End customize container btn log-in*/

/*Customize text container*/
.ctn-txt {
  width: 35%;
  height: 90%;
  float: left;
}
.ctn-title,
.ctn-wlcm {
  width: 100%;
}
.ctn-title {
  height: 45%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 1em;
}
.title {
  text-transform: uppercase;
  font-weight: bold;
  width: 21em;
}
.ctn-wlcm {
  height: 55%;
  padding: 0 1.5em;
}
.ctn-ax {
  height: 80%;
  text-align: center;
}
.wlcm {
  font-size: 1.5em;
  margin: 0;
}
.by {
  width: 100%;
  height: calc(20% - 2em);
  text-align: center;
}
.mvp {
  font-size: 1.1em;
  text-transform: uppercase;
  display: inline;
}
/*End customize text container*/

/*Customize video container*/
.ctn-video {
  width: 65%;
  height: 90%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview {
  width: 80%;
}
/*End customize video container*/

/*Customize arrow*/
.arrow {
  width: 100%;
  height: 5%;
  text-align: center;
}
.icon-arrow {
  color: #293347;
  font-size: 2.5em;
  margin-top: -0.2em;
  cursor: pointer;
  animation: floating 3.2s ease-in-out infinite;
}
@keyframes floating {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-0.5em);
  }
  0% {
    transform: translatey(0);
  }
}
/*End customize arrow*/

/*Customize video responsive*/
.ctn-video-responsive {
  display: none;
}
/*End customize video responsive*/

/*Customize about us container*/
.ctn-about-us {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 2em;
}
.title-about-us {
  font-size: 1.7em;
}
.about-us-text {
  width: 70%;
  margin: 0 auto;
  text-align: justify;
}
/*End customize about us container*/

/*Responsive 1120px of width*/
@media (max-width: 1120px) {
  /*Customize general container*/
  .ctn-txt {
    width: 40%;
  }
  .ctn-video {
    width: 60%;
  }
  .preview {
    width: 90%;
  }
  /*End customize general container*/
}

/*Responsive 900px of width*/
@media (max-width: 900px) {
  /*Customize general container*/
  .title {
    width: 18em;
  }
  .preview {
    width: 95%;
  }
  /*End customize general container*/
}

/*Responsive 800px of width*/
@media (max-width: 800px) {
  /*Customize container btns*/
  .ctn-logo {
    width: 14em;
    height: 10%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 10em;
    height: 2.2em;
  }
  .ctn-btns {
    width: calc(100% - 14em);
  }
  /*End customize container btns*/

  /*Customize general container*/
  .ctn-txt {
    width: 100%;
    height: 30%;
  }
  .ctn-title {
    display: none;
  }
  .ctn-wlcm {
    width: 100%;
    height: 100%;
  }
  .ctn-ax {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 65%;
    margin-bottom: 2%;
  }
  .by {
    height: 30%;
  }
  .ctn-video {
    width: 100%;
    height: 60%;
    align-items: flex-start;
  }
  .preview {
    width: 35em;
  }
  /*End customize general container*/

  /*Customize about us text*/
  .about-us-text {
    width: 90%;
  }
  /*End customize about us text*/
}

/*Responsive 600px of width*/
@media (max-width: 600px) {
  /*Customize container btns*/
  .ctn-logo {
    display: none;
  }
  .ctn-btns {
    width: 100%;
  }
  /*End customize container btns*/

  /*Customize general container*/
  .ctn-txt {
    height: 90%;
  }
  .ctn-title {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 30%;
  }
  .ctn-wlcm {
    height: 70%;
  }
  .ctn-ax {
    margin: 0;
    height: 40%;
    padding-top: 2em;
    align-items: flex-start;
  }
  .by {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ctn-video {
    display: none;
  }
  .preview {
    display: none;
  }
  video::-webkit-media-controls-fullscreen-button {
    display: none;
  }
  /*End customize general container*/

  /*Customize video responsive*/
  .ctn-video-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20em;
  }
  .preview-responsive {
    width: 30em;
  }
  /*End customize video responsive*/
}

/*Responsive 500px of width*/
@media (max-width: 500px) {
  /*Customize video responsive*/
  .ctn-video-responsive {
    height: 18em;
  }
  .preview-responsive {
    width: 28em;
  }
  /*End customize video responsive*/
}

/*Responsive 474px of width*/
@media (max-width: 474px) {
  /*Customize video responsive*/
  .ctn-video-responsive {
    height: 16em;
  }
  .preview-responsive {
    width: 26em;
  }
  /*End customize video responsive*/
}

/*Responsive 433px of width*/
@media (max-width: 433px) {
  /*Customize video responsive*/
  .ctn-video-responsive {
    height: 14em;
  }
  .preview-responsive {
    width: 24em;
  }
  /*End customize video responsive*/
}

/*Responsive 397px of width*/
@media (max-width: 397px) {
  /*Customize video responsive*/
  .ctn-video-responsive {
    height: 14em;
  }
  .preview-responsive {
    width: 22em;
  }
  /*End customize video responsive*/
}

/*Responsive 370px of width*/
@media (max-width: 370px) {
  /*Customize btns container*/
  .ctn-btns {
    justify-content: center;
  }
  .btn-cu {
    margin-right: 0;
  }
  /*End customize btns container*/

  /*Customize video responsive*/
  .ctn-video-responsive {
    height: 14em;
  }
  .preview-responsive {
    width: 21em;
  }
  /*End customize video responsive*/
}
