@use '~@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-gray-palette, 900);
$my-accent: mat.define-palette(mat.$blue-gray-palette);
$my-warn: mat.define-palette(mat.$pink-palette, 900);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

@include mat.all-component-themes($my-theme);